html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    box-sizing: border-box;
    background-image: url("Images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

html, body {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 25px;
}

div.wrapper {
    box-sizing: border-box;
    display: block;
    background-color: #746e6ea1;
    width: 80vw;
    max-height: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto; 
    border: 5px solid #fff; 
}

header {
    width: 90%;
    background-color: #c8bfbf7d;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1, 
h2 {
    font-weight: 600; 
}

#title {
    font-size: 3.5em;
}


h2,
h3 {
    font-size: 1.8em;
}

ul,
p {
    font-size: 1.5em;
}

ul li:nth-child(odd) {
    font-weight: bold;
  }
  
img {
    box-sizing: border-box;
    display: flex;
    max-width: 50%;
    max-height: auto; 
    margin-left: auto;
    margin-right: auto;
    filter: sepia(0.15) grayscale(0.2) contrast(0.9);
}

footer > p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
